
<html lang="en">
 <!--<![endif]-->
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>zFanVideo | Free Video Html5 Templates</title>
    <meta name="description" content="Free Responsive Html5 ~/Content/VideoWebSite/css/3 Templates | zerotheme.com">
    <meta name="author" content="www.zerotheme.com">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- ~/Content/VideoWebSite/css/
    ================================================== -->
    <link href="~/Content/NewsWebSite/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/VideoWebSite/css/zerogrid.css">
    <link rel="stylesheet" href="~/Content/VideoWebSite/css/style.css">
    <link rel="stylesheet" href="~/Content/VideoWebSite/css/menu.css">
    <!-- Owl Carousel Assets -->
    <link href="~/Content/VideoWebSite/css/owl.theme.css" rel="stylesheet" />
    <link href="~/Content/VideoWebSite/css/owl.carousel.css" rel="stylesheet" />
    <!-- Custom Fonts -->
  
    <link href="~/Content/VideoWebSite/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body id="wrapper">
    <div class="wrap-body">

        <!--////////////////////////////////////Header-->
        <header>
            <div class="wrap-header">
                <div class="zerogrid">
                    <div class="row">
                        <a href="/Video/Index" class="logo"><img src="/Content/VideoWebSite/images/logo.png" /></a>
                        <ul class="quick-link">
                            <li><a href="#" title="Upload Video"><i class="fa fa-upload"></i></a></li>
                            <li><a href="#" title="Log in"><i class="fa fa-user"></i></a></li>
                            <li><a href="#" title="Warning"><i class="fa fa-bell"></i></a></li>
                        </ul>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
         
        </header>
        <!--////////////////////////////////////Menu-->
       
        <!--////////////////////////////////////Container-->
        <section id="container" class="index-page">
            <div class="wrap-container zerogrid">
                <div class="row">
                    <div id="main-content" class="col-2-3">
                        <section class="all">
                            <div class="header">
                                <h2>All Post</h2>
                            </div>
                            <div class="row">
                                <div class="col-1-4">
                                    <div class="wrap-col">
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <a href="/Video/Single">
                                                    <span class="zoom-caption">
                                                        <i class="icon-play fa fa-play"></i>
                                                    </span>
                                                    <img src="/Content/VideoWebSite/images/1.jpg" />
                                                </a>
                                            </div>

                                            <h3 class="vid-name"><a href="#">Video's Name</a></h3>
                                            <div class="info">
                                                <h5>By <a href="#">Kelvin</a></h5>
                                                <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                                <span><i class="fa fa-heart"></i>1,200</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1-4">
                                    <div class="wrap-col">
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <a href="/Video/Single">
                                                    <span class="zoom-caption">
                                                        <i class="icon-play fa fa-play"></i>
                                                    </span>
                                                    <img src="/Content/VideoWebSite/images/2.jpg" />
                                                </a>
                                            </div>
                                            <h3 class="vid-name"><a href="#">Video's Name</a></h3>
                                            <div class="info">
                                                <h5>By <a href="#">Kelvin</a></h5>
                                                <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                                <span><i class="fa fa-heart"></i>1,200</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1-4">
                                    <div class="wrap-col">
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <a href="/Video/Single">
                                                    <span class="zoom-caption">
                                                        <i class="icon-play fa fa-play"></i>
                                                    </span>
                                                    <img src="/Content/VideoWebSite/images/3.jpg" />
                                                </a>
                                            </div>
                                            <h3 class="vid-name"><a href="#">Video's Name</a></h3>
                                            <div class="info">
                                                <h5>By <a href="#">Kelvin</a></h5>
                                                <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                                <span><i class="fa fa-heart"></i>1,200</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1-4">
                                    <div class="wrap-col">
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <a href="/Video/Single">
                                                    <span class="zoom-caption">
                                                        <i class="icon-play fa fa-play"></i>
                                                    </span>
                                                    <img src="/Content/VideoWebSite/images/4.jpg" />
                                                </a>
                                            </div>
                                            <h3 class="vid-name"><a href="#">Video's Name</a></h3>
                                            <div class="info">
                                                <h5>By <a href="#">Kelvin</a></h5>
                                                <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                                <span><i class="fa fa-heart"></i>1,200</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1-4">
                                    <div class="wrap-col">
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <a href="/Video/Single">
                                                    <span class="zoom-caption">
                                                        <i class="icon-play fa fa-play"></i>
                                                    </span>
                                                    <img src="/Content/VideoWebSite/images/5.jpg" />
                                                </a>
                                            </div>
                                            <h3 class="vid-name"><a href="#">Video's Name</a></h3>
                                            <div class="info">
                                                <h5>By <a href="#">Kelvin</a></h5>
                                                <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                                <span><i class="fa fa-heart"></i>1,200</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1-4">
                                    <div class="wrap-col">
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <a href="/Video/Single">
                                                    <span class="zoom-caption">
                                                        <i class="icon-play fa fa-play"></i>
                                                    </span>
                                                    <img src="/Content/VideoWebSite/images/14.jpg" />
                                                </a>
                                            </div>
                                            <h3 class="vid-name"><a href="#">Video's Name</a></h3>
                                            <div class="info">
                                                <h5>By <a href="#">Kelvin</a></h5>
                                                <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                                <span><i class="fa fa-heart"></i>1,200</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1-4">
                                    <div class="wrap-col">
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <a href="/Video/Single">
                                                    <span class="zoom-caption">
                                                        <i class="icon-play fa fa-play"></i>
                                                    </span>
                                                    <img src="/Content/VideoWebSite/images/1.jpg" />
                                                </a>
                                            </div>
                                            <h3 class="vid-name"><a href="#">Video's Name</a></h3>
                                            <div class="info">
                                                <h5>By <a href="#">Kelvin</a></h5>
                                                <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                                <span><i class="fa fa-heart"></i>1,200</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1-4">
                                    <div class="wrap-col">
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <a href="/Video/Single">
                                                    <span class="zoom-caption">
                                                        <i class="icon-play fa fa-play"></i>
                                                    </span>
                                                    <img src="/Content/VideoWebSite/images/2.jpg" />
                                                </a>
                                            </div>
                                            <h3 class="vid-name"><a href="#">Video's Name</a></h3>
                                            <div class="info">
                                                <h5>By <a href="#">Kelvin</a></h5>
                                                <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                                <span><i class="fa fa-heart"></i>1,200</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1-4">
                                    <div class="wrap-col">
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <a href="/Video/Single">
                                                    <span class="zoom-caption">
                                                        <i class="icon-play fa fa-play"></i>
                                                    </span>
                                                    <img src="/Content/VideoWebSite/images/3.jpg" />
                                                </a>
                                            </div>
                                            <h3 class="vid-name"><a href="#">Video's Name</a></h3>
                                            <div class="info">
                                                <h5>By <a href="#">Kelvin</a></h5>
                                                <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                                <span><i class="fa fa-heart"></i>1,200</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1-4">
                                    <div class="wrap-col">
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <a href="/Video/Single">
                                                    <span class="zoom-caption">
                                                        <i class="icon-play fa fa-play"></i>
                                                    </span>
                                                    <img src="/Content/VideoWebSite/images/4.jpg" />
                                                </a>
                                            </div>
                                            <h3 class="vid-name"><a href="#">Video's Name</a></h3>
                                            <div class="info">
                                                <h5>By <a href="#">Kelvin</a></h5>
                                                <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                                <span><i class="fa fa-heart"></i>1,200</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1-4">
                                    <div class="wrap-col">
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <a href="/Video/Single">
                                                    <span class="zoom-caption">
                                                        <i class="icon-play fa fa-play"></i>
                                                    </span>
                                                    <img src="/Content/VideoWebSite/images/5.jpg" />
                                                </a>
                                            </div>
                                            <h3 class="vid-name"><a href="#">Video's Name</a></h3>
                                            <div class="info">
                                                <h5>By <a href="#">Kelvin</a></h5>
                                                <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                                <span><i class="fa fa-heart"></i>1,200</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1-4">
                                    <div class="wrap-col">
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <a href="/Video/Single">
                                                    <span class="zoom-caption">
                                                        <i class="icon-play fa fa-play"></i>
                                                    </span>
                                                    <img src="/Content/VideoWebSite/images/14.jpg" />
                                                </a>
                                            </div>
                                            <h3 class="vid-name"><a href="#">Video's Name</a></h3>
                                            <div class="info">
                                                <h5>By <a href="#">Kelvin</a></h5>
                                                <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                                <span><i class="fa fa-heart"></i>1,200</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1-4">
                                    <div class="wrap-col">
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <a href="/Video/Single">
                                                    <span class="zoom-caption">
                                                        <i class="icon-play fa fa-play"></i>
                                                    </span>
                                                    <img src="/Content/VideoWebSite/images/1.jpg" />
                                                </a>
                                            </div>
                                            <h3 class="vid-name"><a href="#">Video's Name</a></h3>
                                            <div class="info">
                                                <h5>By <a href="#">Kelvin</a></h5>
                                                <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                                <span><i class="fa fa-heart"></i>1,200</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1-4">
                                    <div class="wrap-col">
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <a href="/Video/Single">
                                                    <span class="zoom-caption">
                                                        <i class="icon-play fa fa-play"></i>
                                                    </span>
                                                    <img src="/Content/VideoWebSite/images/2.jpg" />
                                                </a>
                                            </div>
                                            <h3 class="vid-name"><a href="#">Video's Name</a></h3>
                                            <div class="info">
                                                <h5>By <a href="#">Kelvin</a></h5>
                                                <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                                <span><i class="fa fa-heart"></i>1,200</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1-4">
                                    <div class="wrap-col">
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <a href="/Video/Single">
                                                    <span class="zoom-caption">
                                                        <i class="icon-play fa fa-play"></i>
                                                    </span>
                                                    <img src="/Content/VideoWebSite/images/3.jpg" />
                                                </a>
                                            </div>
                                            <h3 class="vid-name"><a href="#">Video's Name</a></h3>
                                            <div class="info">
                                                <h5>By <a href="#">Kelvin</a></h5>
                                                <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                                <span><i class="fa fa-heart"></i>1,200</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1-4">
                                    <div class="wrap-col">
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <a href="/Video/Single">
                                                    <span class="zoom-caption">
                                                        <i class="icon-play fa fa-play"></i>
                                                    </span>
                                                    <img src="/Content/VideoWebSite/images/4.jpg" />
                                                </a>
                                            </div>
                                            <h3 class="vid-name"><a href="#">Video's Name</a></h3>
                                            <div class="info">
                                                <h5>By <a href="#">Kelvin</a></h5>
                                                <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                                <span><i class="fa fa-heart"></i>1,200</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="navigation">
                            <ul>
                                <li><a href="#"><</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">></a></li>
                            </ul>
                        </div>
                    </div>
                    @Html.Partial("_VideorighterPage")
                </div>
            </div>
        </section>

        <!--////////////////////////////////////Footer-->
        <footer>
         
        </footer>

        <!-- Slider -->
        <script src="~/Content/VideoWebSite/js/jquery-2.1.1.js"></script>
        <script src="~/Content/VideoWebSite/js/demo.js"></script>
        <!-- Search -->
        <script src="~/Content/VideoWebSite/js/modernizr.custom.js"></script>
        <script src="~/Content/VideoWebSite/js/classie.js"></script>
        <script src="~/Content/VideoWebSite/js/uisearch.js"></script>
        <script>
            new UISearch(document.getElementById('sb-search'));
        </script>
        <!-- Carousel -->
        <script src="~/Content/VideoWebSite/js/owl.carousel.js"></script>
        <script>
            $(document).ready(function () {

                $("#owl-demo-1").owlCarousel({
                    items: 4,
                    lazyLoad: true,
                    navigation: true
                });
                $("#owl-demo-2").owlCarousel({
                    items: 4,
                    lazyLoad: true,
                    navigation: true
                });

            });
        </script>
    </div>
</body>
</html>