<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/highcharts/highcharts.js"></script>
  
</head>

<body>

    @RenderBody()

</body>
</html>