
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <script src="~/Content/Admin_CSS_JS/js/jquery.js"></script>
    <link href="~/Content/Admin_CSS_JS/css/style.css" rel="stylesheet" />
    <script src="~/Content/UEditor/ueditor.config.js"></script>
    <script src="~/Content/UEditor/ueditor.all.js"></script>
    <link href="~/Content/UEditor/themes/iframe.css" rel="stylesheet" />



    <link href="~/Content/uploadify/uploadify.css" rel="stylesheet" />
    <script src="~/Content/uploadify/jquery.uploadify.min.js"></script>
</head>

<body>

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">博客发布</a></li>
        </ul>
    </div>

    <div class="formbody">

        <div class="formtitle"><span>基本信息</span></div>

        <ul class="forminfo">
            <li><label>博客标题</label><input name="" type="text" class="dfinput" id="getTitle" /><i>标题不能超过30个字符</i></li>
            <li><label>是否置顶</label><cite><input name="radioName" type="radio" value="1" />是&nbsp;&nbsp;&nbsp;&nbsp;<input name="radioName" type="radio" value="2" checked="checked" />否</cite></li>
            <li>
                <label>发布类型</label>
                <select class="dfinput" id="getSelectValue">
                    <option>随笔</option>
                    <option>技术</option>
                    <option>杂谈</option>
                </select>
            </li>
            <li>
                @using (Html.BeginForm())
                {
                    <script id="ueditor" style="width: 750px; height: 300px;"></script>
                }
            </li>
            <li><label>&nbsp;</label><input id="btnSummit" type="button" class="btn" value="确认提交" /></li>
        </ul>


    </div>

    <script type="text/javascript">

    var editorOption = {

        UEDITOR_HOME_URL: '/Content/UEditor/',//配置编辑器路
        iframeCssUrl: '/Content/UEditor/themes/iframe.css',//样式路
        initialContent: '请输入内容',//初始化编辑器内容
        autoHeightEnabled: true,//高度自动增长
        minFrameHeight: 400//最小高度


    };
    var editor = new baidu.editor.ui.Editor(editorOption);
    editor.render('ueditor');
    $(function () {

        $("#btnSummit").click(function () {

            ue = UE.getEditor('ueditor');

            var getTitle = $("#getTitle").val();
            var getContent = ue.getContent();
            var getCategory = $("#getSelectValue").val();
            var getTop=false;
            var judgeValue = $("input[name='radioName']:checked").val();
            if (judgeValue == "1")
                getTop = true;
            else if (judgeValue == "2")
                getTop = false;

            $.ajax({
                url: "@Url.Action("Create", "BlogPost")",
                type: "Post",
                data: {
                    "ArticleTitle": getTitle,
                    "Category":getCategory,
                    "IsTop": getTop,
                    "ArticleContent": getContent,
                } ,
                dataType: "json",
                success: function (data) {
                    if (data.type == 1) {
                        alert("发布成功")
                        window.location.reload();
                    }
                },
            });

        })
    })
    </script>

</body>
</html>
