
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_highlightCodeJs.cshtml";
}
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<table class="tablelist" id="tbList">
    <tr>
        <th>编号<i class="sort"><img src="~/Content/Admin_CSS_JS/images/px.gif" /></i></th>
        <th>标题</th>
        <th>发布时间</th>
        <th>是否置顶</th>
        <th>文章类型</th>
        <th>操作</th>
    </tr>

</table>


<div class="pagin">
    <div class="message">共<i class="blue">1256</i>条记录，当前显示第&nbsp;<i class="blue">2&nbsp;</i>页</div>
    <div id="Nav" class="paginator"></div>
    </div>
<script type="text/javascript">
    $('.tablelist tbody tr:odd').addClass('odd');
    $(function () {
        //页面加载完成后从后如加载当前页数据
        initTable();
    });
    //初始化表格数据
    function initTable(queryData) {

        $.get("/Admin/Home/getPageData", queryData, function (data) {
            var tb = $("#tbList");
            //先移除旧的，添加新的
            $("#tbList tr[type=data]").remove();
            for (var i = 0; i < data.Data.length; i++) {
 
                var strTr = "<tr type='data'>";
                strTr += "<td>" + data.Data[i].Id + "</td>";
                strTr += "<td>" + data.Data[i].NewsTitle + "</td>";
                strTr += "<td>" + data.Data[i].AddedDate + "</td>";
                strTr += "<td>" + data.Data[i].IsTop + "</td>";
                strTr += "<td>" + data.Data[i].Category + "</td>";
                strTr += "<td><a UId='" + data.Data[i].Id + "' href='javascript:void(0)'>查看</a>" +
                  "<a UId='" + data.Data[i].Id + "' href='javascript:void(0)'>删除</a></td>";
                strTr += "</tr>";
                tb.append(strTr);

            }

            $("#Nav").html(data.NavStr);

            //绑定分页标签的点击事件

            $(".pageLink").click(function () {
                //把页码弹出来
                var strHref = $(this).attr("href");
                var queryStr = strHref.substr(strHref.indexOf('?') + 1);
                //alert(queryStr);
                initTable(queryStr);
                return false;
            });
        });
    }


</script>