<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="LoginProvider" value="Cookie" />
  <!-- ================== 3：外部邮件参数 ================== -->
  <!-- 设置邮箱名称 -->
  <add key="MailName" value="邮件中心" />
  <!-- 设置邮箱地址 -->
  <add key="MailUserName" value="1308468209@qq.com" />
  <!-- 设置邮箱密码 -->
  <add key="MailPassword" value="JishiyuReborn" />
  <!-- 设置邮箱主机 -->
  <add key="MailHost" value="smtp.qq.com" />
</appSettings>
